body {
  font-family: "Montserrat";
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

/* Headings */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 4rem;
  line-height: 1.5;
  text-align: left;
  font-weight: bold;
  padding-bottom: 20px;
}

.section-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

/* section */
.colored-section {
  background-color: #ff4c68;
  color: #ffff;
}

.white-section {
  background-color: #fff;
}

/* Navigation bar */
.row {
  padding-top: 60px;
  margin: 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.navbar-brand {
  font-family: ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0;
}

/* download button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  padding-bottom: 20px;
  position: absolute;
  left: 15%
}

/* title section */


#title .container-fluid {
  padding: 3% 15% 7%;
  position: relative;
}

/* Features section */
#features {
  position: relative;
  bottom: 50px;
}

.feature-title {
  font-size: 1.5;
}

.img-features {
  margin: 1rem;
}

.img-features:hover {
  background-color: #fff0f5;
}

/* Testimonials section */
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 30px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

#press, #testimonials {
  background-color: #ef8172;
  padding-bottom: 60px;
}

.presslogo {
  width: 12%;
  margin: 20px 20px 50px;
}

/* Pricing section */
.price-text {
  line-height: 1.5rem;
  font-size: 3em;
}

.ctaword {
  font-size: 3.5rem;
  line-height: 2;
  font-style: italic;
}

/* footerr section */
.social {
  margin: 8px 8px 40px;
}

@media(max-width:990px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
